.site-footer{
  @extend %center;
  max-width: $max-width;
  text-align: center;
  margin-bottom: $space-lg;
  padding: $space-sm;

  a{
    @extend .link;
  }
}

.footer-description{
  max-width: 40rem;
  @extend %center;
  p{
    color: $brown;
    font-style: italic;
    font-size: $font-size-sm;
    margin: 0;
  }
}

.footer-contact,
.footer-links{
  color: $brown;
  span{
    font-style: italic;
  }
  span,
  .email{
    font-size: $font-size-xsm;
  }
}

.footer-verse{
  margin-top: $space-md;
  .bible-verse{
    font-family: $font-family-gothic;
    font-style: normal;
    color: $tan;
    font-size: $font-size-lg;
    line-height: 1.2;
    margin: 0;
  }
  .verse-reference{
    font-family: $font-family-serif;
    font-style: italic;
    font-size: $font-size-sm;
    display: block;
  }
}

.footer-links{
  margin-top: $space-md;
  span,
  a{
    font-size: $font-size-xsm;
  }
  ul{
    margin: 0px;
    display: inline-block;
    padding: 0px;
  }
  li{
    list-style: georgian;
    display: inline-block;
    padding: 0 $space-xsm;
  }
}
