a{
  text-decoration: none;

  &:focus{
    outline: none;
  }
}

.link {
  color: $brown;
  font-weight: bold;
  &:hover,
  &:focus{
    color: $dark-brown;
    text-decoration: underline;
  }
  &:active{
    color: $black;
  }
}
