.post{
  background-color: white;
  padding: $space-reg $space-lg;
  margin: $space-reg 0px;
  border-bottom: 2px solid wheat;
}

.post-nav{
  @extend %center;
  text-align: center;
}

.post-nav .btn{
  @include button-style(sienna, white, true, saddlebrown);
  margin: 2px;

  &:hover,
  &:focus{
    @include button-style(saddlebrown, white, true, black);
  }

  &:active{
    @include button-style(saddlebrown, white, false);
  }

  &[disabled],
  &.disabled{
    @include button-style(tan, white, false);
  }
}

.post-header{
  margin-top: $space-lg;
}

.post-title,
.post-date,
.post-permalink{
  text-align: center;
}

.post-description{
  @extend %center;
  max-width: 600px;
  margin-top: $space-lg;
  padding: $space-sm $space-md;
  border: 6px double wheat;

  a {
    @extend .link;
  }
}


//SHARING POSTS
.post-share{
  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $space-lg;
}

.share-permalink,
.share-image{
  @include flex(1 1 auto);
  text-align: center;
  margin: 0px $space-reg;
}

.post-share-title{
  margin-bottom: 0px;
  font-size: $font-size-sm;
}

.post-share-url{
  @include button-reset();
  @include word-wrap(break-word);
  font-family: $font-family-sans;
  font-weight: $sans-semibold;
  color: sienna;
  margin-top: $space-sm;
  display: inline-block;
  border: 1px solid sienna;
  border-radius: 1rem;
  padding: $space-sm $space-reg;
  font-size: $font-size-sm;

  &:hover,
  &:focus{
    background-color: sienna;
    color: antiquewhite;
  }

  &:active{
    background-color: saddlebrown;
  }
}
