.post{
  background-color: white;
  padding: $space-reg $space-lg;
  margin: $space-reg 0px;
  border-bottom: 2px solid wheat;
}

.archive-link{
  text-align: center;
  a {
    font-family: $font-family-gothic;
    color: sienna;
    &:hover,
    &:focus{
      color: saddlebrown;
    }
    &:active{
      color: black;
    }
  }
}

.post-nav{
  @extend %center;
  text-align: center;
}

.post-nav .btn{
  @include button-style-shadow(sienna, white, true, saddlebrown);
  margin: 2px;
  letter-spacing: .1rem;

  &:hover,
  &:focus{
    @include button-style-shadow(saddlebrown, white, true, black);
  }

  &:active{
    @include button-style-shadow(saddlebrown, white, false);
  }

  &[disabled],
  &.disabled{
    @include button-style-shadow(tan, white, false);
  }
}

.post-header{
  margin-top: $space-lg;
  color: saddlebrown;
}

.post-title,
.post-date,
.post-permalink{
  text-align: center;
}

.post-date{
  font-style: italic;
  font-weight: $sans-light;
  font-size: $font-size-xsm;
  margin-top: 0px;
}

.post-description{
  @extend %center;
  max-width: 600px;
  margin-top: $space-lg;
  padding: $space-sm $space-md;
  border: 6px double wheat;

  a {
    @extend .link;
  }
}

.post-content{
  position: relative;
  overflow-x: hidden;
}

.post-image{
  position: absolute;
  height: 100%;
  opacity: 0;
}


//SHARING POSTS
.post-share{
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-bottom: $space-xlg;
}

.share-permalink,
.share-image{
  @include flex(0 1 auto);
  text-align: center;
  margin: 0px $space-reg;
}

.post-share-title{
  margin-bottom: 0px;
  font-size: $font-size-sm;
  font-weight: $sans-light;
  font-style: italic;
  color: sienna;
}

.post-share-url{
  @include word-wrap(break-word);
  margin-top: $space-sm;
}

input.post-share-url{
  font-size: $font-size-xsm;
  padding: $space-xsm $space-sm;
}

.btn-copy{
  @include button-style(transparent, sienna, true, sienna);
  padding: $space-xsm $space-sm;
  border-radius: .25rem;
  font-size: $font-size-xsm;
  font-family: $font-family-sans;
  font-weight: $sans-semibold;
  text-transform: uppercase;

  &:hover,
  &:focus{
    @include button-style(sienna, antiquewhite);
  }

  &:active{
    @include button-style(saddlebrown);
  }
}
