---
layout: default
---

<div class="home">

  <!-- {% for post in site.posts limit:1 %}
  <div>{{post.content}}</div>
  {% endfor %} -->

  <!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1>{{ post.title }}</h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend:site.baseurl}}" class="prev">Older</a>
  {% else %}
    <span class="prev ">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend:site.baseurl }}" class="next">Newer</a>
  {% else %}
    <span class="next">Newer</span>
  {% endif %}
</div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
