@import 'helpers/index';

.comic{
  margin-left: -($comic-strip-gutter);
  margin-right: -($comic-strip-gutter);
  overflow-x: hidden;
}

.comic-strip,
.comic-strip-row{
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include flex(1 0 100%);
  width: 100%;
}

.comic-strip-row{
  @include flex(1 0 100%);
}

.comic-strip-title{
  @include flex(1 0 100%);
  padding: $comic-strip-gutter;
  font-size: $font-size-lg;
}

.comic-strip-frame{
  @include flex(1 1 auto);
  padding: $comic-strip-gutter;

  &.frame-tall{
    @extend %center;
    max-width: 800px;
  }

  img{
    width: 100%;
  }

  &.frame-1-1{
    @include flex-basis(100%);
  }

  &.frame-3-4{
    @include flex-basis(75%);
  }

  &.frame-2-3{
    @include flex-basis(66%);
  }

  &.frame-1-2{
    @include flex-basis(50%);
  }

  &.frame-1-3{
    @include flex-basis(33%);
  }

  &.frame-1-4{
    @include flex-basis(25%);
  }
}

@media (max-width: 700px){
  .comic-strip-frame{
    &.frame-1-4{
      @include flex-basis(50%);
    }
  }
}

@media (max-width: 460px){
  .comic-strip-frame{
    &.frame-3-4,
    &.frame-2-3,
    &.frame-1-2,
    &.frame-1-3,
    &.frame-1-4{
      @include flex-basis(100%);
      min-width: 100%;
    }

    &.frame-vs{
      @include flex-basis(50%);
      min-width: 50%;
    }
  }
}
