@import 'helpers/index';

.comic{
  margin-left: -($comic-strip-gutter);
  margin-right: -($comic-strip-gutter);
  overflow-x: hidden;
}

.comic-strip,
.comic-strip-row{
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  // @include flex(1 0 100%);
  width: 100%;
}

.comic-strip-row{
  @include flex(1 0 100%);
}

.comic-strip-title{
  @include flex(1 0 100%);
  padding: $comic-strip-gutter;
  font-size: $font-size-lg;
}

.comic-strip-frame{
  @include flex(1 1 300px);
  padding: $comic-strip-gutter;

  &.frame-tall{
    @extend %center;
    max-width: 800px;
  }

  img{
    width: 100%;
  }

  &.frame-2{
    @include flex-basis(50%);
  }

  &.frame-3{
    @include flex-basis(33%);
  }

  &.frame-4{
    @include flex-basis(25%);
  }
}
