.comic-strip{
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}

.comic-strip-frame{
  display: inline-block;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid gray;
}
