@mixin button-reset(){
  @include appearance(none);
  @include transition($default-transition-speed);
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 0;
  }
}
