.category-list{
  text-align: center;
  margin: $space-lg 0;
}

.category-list-item{
  @include transition(all ease $default-transition-speed);
  display: inline-block;
  text-transform: capitalize;
  color: $light-gold;
  border: 2px solid $light-gold;
  padding: $space-xsm $space-sm;
  border-radius: 1rem;
  margin: $space-xsm;

  &:hover,
  &:focus{
    background-color: $light-gold;
    color: $white;
    border-color: $light-gold;
  }
  &:active{
    border-color: $gold;
    background-color: $gold;
    color: $white;
  }
}

.category-section{
  padding: $space-md 0;
}

.category-section-header{
  text-transform: capitalize;
  color: $brown;
}

.category-post-list {
  padding-left: $space-sm;

  li{
    list-style-type: none;
    position: relative;
    list-style-position: inside;
    margin-bottom: $space-sm;
  }

  .post-number{
    color: $gold;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.category-post-list-item{
  @include transition(all ease $default-transition-speed);
  color: $dark-brown;
  display: inline-block;
  padding-left: $space-xlg;
  &:hover,
  &:focus{
    color: $gold;
    text-decoration: underline;
  }
  &:active{
    color: $dark-gold;
  }
}
