---
layout: default
---
{% include post-nav.html %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div class="comic">
      <div class="comic-strip">
        {% for item in page.images %}
        {% if item.row_title %}<h3 class="comic-strip-row-title">{{item.row_title}}</h3>{% endif %}
        <div class="comic-strip-frame {{item.frame_type}} {% if item.frame_tall %}frame-tall{% endif %}">
          {% if item.frame_title %}<h3 class="comic-strip-frame-title">{{item.frame_title}}</h3>{% endif %}
          <img alt="{{item.alt}}" src="{{site.baseurl}}/images/{{page.image_folder}}/{{item.url}}"/>
        </div>
        {% endfor %}
      </div>
      <div class="comic-copyright">
        <p>&copy; Karly Nelson</p>
      </div>
    </div>
  </div>

</article>

<div class="post-share">
  <div class="share-permalink">
    <p class="post-share-title">Permanent link to this comic</p>
    <button class="post-share-url btn-copy permalink">{{page.permalink | prepend: site.baseurl | prepend: site.url}}</button>
  </div>

  <div class="share-image">
    <p class="post-share-title">Image URL</p>
    <button class="post-share-url btn-copy image-link">{{site.baseurl | prepend: site.url}}/images/{{page.image_folder}}/{{page.original_image}}</button>
  </div>

</div>

{% include post-nav.html %}

<div class="post-description">
  {{ content }}
</div>
