@import "helpers/index";

body{
  background-color: $light-tan;
}

.container{
  @extend %center;
  max-width: $max-width;
  padding: $space-reg;
}

@media (max-width: 700px){
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
}
