@import "helpers/index";

$max-width: 1000px;

.container{
  @extend %center;
  max-width: $max-width;
  padding: 1rem;
}

.page-nav{
  @extend %center;
  text-align: center;
}

.post-title,
.post-date,
.post-permalink{
  text-align: center;
}

.post-description{
  @extend %center;
  max-width: $max-width;
  padding: 24px;
  background-color: lightgray;
}
