.site-header{
  @extend %center;
  max-width: 1100px;
  background-color: wheat;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
  border-bottom: 2px solid tan;
  position: relative;
}

// .site-header-banner-right,
// .site-header-banner-left{
//   height: 196px;
//   width: 200px;
//   background-color: sienna;
//   position: absolute;
//   top: 80px;
// }
//
// .site-header-banner-right{
//   right: -100px;
// }
//
// .site-header-banner-left{
//   left: -100px;
// }

.site-title,
.site-nav{
  text-align: center;
}

.site-title-link{
  font-family: $font-family-gothic;
  font-size: $font-size-xxlg;
  color: black;

  &:hover,
  &:focus{
    color: sienna;
  }

  &:active{
    color: saddlebrown;
  }

  &.selected{
    color: blue;
  }

}

.site-nav{
  margin-top: 24px;
}

.site-nav-link{
  font-family: $font-family-gothic;
  font-size: $font-size-lg;
  // text-transform: uppercase;
  letter-spacing: .05rem;
  background-color: transparent;
  border-radius: .5rem;
  color: sienna;
  padding: 16px;

  &:hover,
  &:focus{
    background-color: antiquewhite;
    color: saddlebrown;
  }

  &:active{
    background-color: rgba(250, 235, 215, .75);
    color: sienna;
  }
}

@media (max-width: 700px){
  .site-header{
    margin: 0px;
    padding: 16px;
  }
  .site-title-link{
    font-size: $font-size-lg;
  }
  .site-nav{
    margin-top: 12px;
  }
  .site-nav-link{
    font-size: $font-size-md;
    padding: 8px;
  }
}
